body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  
  background-color: #849d8f;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
}

.main-navigation-list li {
  list-style: none;
}

.main-navigation-list a {
  color: #ffffff;
}

.main-navigation-list a:hover, 
.main-navigation-list a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.main-navigation-item-catalog-menu{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
}

.main-navigation-item-catalog-title,
.main-navigation-item-catalog-menu a {
  color: #323232;
}

.main-navigation-item-catalog-menu a:hover,
.main-navigation-item-catalog-menu a:focus {
  color: #323232;
  background-color: #fbded7;
}

.user-actions li{
  list-style: none;
}

.user-action-button {
  background-color: rgba(255,255,255,0.2);
  border: none;
}

.user-action-button:hover,
.user-action-button:focus {
  background-color: rgb(248,247,244);
}

.user-action-button-search {
  width: 32px;
  height: 32px;
  background-image: url("../img/svg-gllacy/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.user-action-button-search:hover,
.user-action-button-search:focus {
  width: 32px;
  height: 32px;
  background-image: url("../img/svg-gllacy/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.field-input {
  font-size: 14px;
  line-height: 24px;
  height: 44px;
  border: 1px solid #d3d3d2;
}

.user-action-button-login {
  width: 92px;
  height: 32px;
  background-image: url("../img/svg-gllacy/entrance.svg");
  background-repeat: no-repeat;
}

.user-action-search-form,
.user-action-login-popup {
  background-color: rgb(248,247,244);
}


.field-label {
  color: #999999;
}









