body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  
  background-color: #849d8f;
}

.button {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  height: 44px;
  text-decoration: none;
  background-color: #f16442;
  border: none;
  border-radius: 22px;
}

.button:hover,
.button:focus {
  color: #fefefe;
  background-color: #f58669;
}

.button:active {
  color: #fceeec;
  background-color: #c73f2c;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.link:hover,
.link:focus,
.link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249,172,159,0.3);
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  font-weight: 700;
}

.main-navigation-list li {
  list-style: none;
}

.main-navigation-list a {
  color: inherit;
}
         
.main-navigation-list a:hover, 
.main-navigation-list a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.main-navigation-item-catalog-menu{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
}

.main-navigation-item-catalog-title,
.main-navigation-item-catalog-menu a {
  color: #323232;
  text-decoration: none;
}

.main-navigation-item-catalog-menu a:hover,
.main-navigation-item-catalog-menu a:focus {
  color: #323232;
  background-color: #fbded7;
}

.user-actions li{
  list-style: none;
}

.user-action-button {
  color: inherit;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255,255,255,0.2);
  border: none;
  border-radius: 16px 16px;
  background-position: 16px 6px;
  background-repeat: no-repeat;
}

.user-action-button:hover,
.user-action-button:focus {
  background-color: rgb(248,247,244);
  color: rgb(50,50,50);
}

.user-action-button-search {
  width: 32px;
  background-image: url("../img/svg-gllacy/loupe.svg");
  background-position: center;
}

.user-action-button-search:hover,
.user-action-button-search:focus {
  background-image: url("../img/svg-gllacy/loupe.svg");
}

.field-input {
  font-size: 14px;
  line-height: 24px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.field-input:hover {
  height: 42px;
  border: 2px solid #c7c6c5;
}

.field-input:focus {
  height: 42px;
  border: 2px solid #8fbdec;
}

.user-action-button-login {
  width: 92px;
  background-image: url("../img/svg-gllacy/entrance.svg");
}

.user-action-search-form,
.user-action-login-popup {
  background-color: rgb(248,247,244);
}

.field-label {
  color: #999999;
}

.login-submit-button {
  width: 100px;
  height: 44px;
  border: none;
  border-radius: 17px / 22px;
}

.login-help-link {
  text-decoration: none;
  color: #323232;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.login-help-link:hover,
.login-help-link:focus,
.login-help-link:active {
  text-decoration: none;
  color: #e84d37;
  border-bottom: 1px solid rgba(236,89,60,0.3);
}

.user-action-button-basket {
  width: 117px;
  background-image: url(../img/svg-gllacy/basket.svg);
}

.user-action-button-basket:hover,
.user-action-button-basket:focus {
  background-color: rgb(247,246,243);
}

.header-contacts {
  font-weight: 700;
  text-align: right;
}

.header-worktime {
  font-size: 14px;
  line-height: 16px;
}

.header-contact-phone {
  font-size: 22px;
  line-height: 24px;
}

.header-contact-phone a {
  text-decoration: none;
  color: inherit;
}

.slider {
  font-weight: 700;
  text-align: center;
}

.slider-item-title {
  font-size: 60px;
  line-height: 60px;
}

.slider-item-button {
  width: 278px;
  height: 63px;
  font-size: 32px;
  line-height: 34px;
  color: inherit;
  border-radius: 31px;
  background-color: #f26843;
  text-decoration: none;
}

.slider-controls {
  text-align: left;
}

.slider-controls a {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.promo-box {
  font-size: 18px;
  font-weight: 700;
}

.promo-banner {
  line-height: 22px;
}

.promo-banner-title {
  font-size: 35px;
  line-height: 41px;
}

.promo-box article:first-of-type {
  background-color: #9c1b36;
  background-image: url(../img/backgrounds/bg-promo-raspb.jpg);
}

.promo-box article:last-of-type {
  background-color: #723f1c;
  background-image: url(../img/backgrounds/bg-promo-chocolate.jpg);
}

.catalog-item-title .link {
  font-weight: 500;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-mass {
  font-size: 30px;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item-button {
  width: 200;
  height: 44;
  border-radius: 19px 22px;
}

.about-us {
  color: #323232;
  background-color: #e7d5b1;
  background-image: url(../img/backgrounds/bg-waffle.jpg);
}

.about-us-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-us p:nth-of-type(1) {
  background-image: url(../img/svg-gllacy/ice-cream.svg);
  background-repeat: no-repeat;
}

.about-us p:nth-of-type(2) {
  background-image: url(../img/svg-gllacy/eco.svg);
  background-repeat: no-repeat;
}

.about-us p:nth-of-type(3) {
  background-image: url(../img/svg-gllacy/cow.svg);
  background-repeat: no-repeat;
}

.about-us p:nth-of-type(4) {
  background-image: url(../img/svg-gllacy/thermometer.svg);
  background-repeat: no-repeat;
}

.news {
  background-color: #ffffff;
  background-image: url(../img/backgrounds/bg-blog.jpg)
}

.news-title {
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  color: #323232;
}

.news-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #323232;
  border-bottom: 2px solid rgb(0,0,0);
}

.news-link:hover,
.news-link:focus,
.news-link:active {
  color: #e84d37;
  border-bottom: 2px solid rgb(236,89,60);
}

.subscribe {
  background-color: #ffffff;
  background-image: url(../img/backgrounds/bg-post.svg);
  color: #5a5a5a;
}

.subscribe-button {
  width: 128px;
}

.interactive-map {
  background-color: #ece5c8;
}

.company-contacts {
  color: #323232;
  line-height: 20px;
}

.company-contacts-address + p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.company-contacts-phone + p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.company-contacts p:nth-of-type(5) {
  line-height: 22px;
}

.feedback-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.company-contacts-feedback {
  background-color: #f8f7f4;
}

.feedback-submit-button {
  width: 138px;
}

.feedback-close {
  width: 18px;
  height: 17px;
  border: none;
  background-color: #f8f7f4;
  background-image: url(../img/svg-gllacy/cross-big.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.socials {
  list-style: none;
}

.socials-item {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
}

.socials-item:hover,
.socials-item:focus {
  border: 3px solid rgba(255,255,255,0.7);
}

.footer-links {
  font-size: 13px;
  line-height: 18px;
}

.footer-links:first-of-type {
  font-weight: 700;
}

.copyrigth-info {
  font-size: 12px;
  line-height: 18px;
}
